{{ define "main" }}
<div class="py-3"></div>

<div class="container">
  <h1 class="text-dark display-3">Chicken Farm</h1>
  <div class="py-1 bg-dark"></div>
  <img src="/img/masthead/chickenfarm.JPG" width="100%" alt="" class="">
</div>

<div class="container">
  <div class="py-5"></div>
  <h1 class="text-warning">Data</h1>
  <div class="py-1 bg-warning col-6"></div>
  <div class="py-2"></div>
  <div class="card-group">
    <div class="card">
      <iframe
        width="328.5"
        height="155.78495954692556"
        seamless
        frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS5ff9TveXuHRd5X1rCMyoK7t82eWNtqUFMZP2hao3HDWOE0t2NRMcy6979HW7SX4JSvnTiJZ9wY7lW/pubchart?oid=1451514809&amp;format=interactive"
      ></iframe>
      <div class="card-body">
        <h5 class="card-title">Hatched vs Failed</h5>
      </div>
    </div>
    <div class="card">
      <iframe
        width="319"
        height="155.78495954692556"
        seamless
        frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS5ff9TveXuHRd5X1rCMyoK7t82eWNtqUFMZP2hao3HDWOE0t2NRMcy6979HW7SX4JSvnTiJZ9wY7lW/pubchart?oid=1484438958&amp;format=interactive"
      ></iframe>
      <div class="card-body">
        <h5 class="card-title">Loaded vs Hatched</h5>
        <p class="">
          Green is Batch 1-15 / Blue is Batch 16-30 / Pink is Batch 31-45
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>

<div class="container">
  <h1 class="text-warning">External Links</h1>
  <div class="py-1 bg-warning col-6"></div>
  <div class="py-2"></div>
  <div class="card-group text-center">
    <div class="card p-5">
      <h1 class="card-title">Incubation</h1>
      <a
        href="https://docs.google.com/spreadsheets/d/1VoP4mPYpu3XzLycu1EaVS8i3XQ0rXZ6aM4IAaFTgvFo/edit?usp=sharing"
        target="_blank"
        class=""
      >
        <button type="button" class="btn btn-outline-dark px-5 py-2">
          Edit
        </button>
      </a>
    </div>
    <div class="card p-5">
      <h1 class="card-title">Feeds</h1>
      <a
        href="https://docs.google.com/spreadsheets/d/1IQZUaOdgPb_nsOR3zvt5FEyAHT2aY_6dtJO5Lhr80gk/edit?usp=sharing"
        target="_blank"
        class=""
      >
        <button type="button" class="btn btn-outline-dark px-5 py-2">
          Edit
        </button>
      </a>
    </div>
    <div class="card p-5">
      <h1 class="card-title">#</h1>
      <a href="" class="">
        <button type="button" class="btn btn-outline-dark px-5 py-2">
          Edit
        </button>
      </a>
    </div>
  </div>
</div>

<div class="py-5"></div>
{{ end }}
