{{ define "main" }}
<div class="py-3"></div>

<div class="container text-white">
  <div class="card border-0 bg-dark p-5">
    <div class="card-group">
      <div class="card border-0 bg-transparent">
        <img src="/img/masthead/header.jpg" alt="" class="card-img" />
      </div>
      <div class="card border-0 bg-transparent col-lg-8 col-8">
        <div class="card-body">
          <h1 class="card-title">
            Happy Father's Day!
          </h1>
          <h6 class="card-text">
            Hey Pa,
            <br />
            <br />
            Thank you for being such an amazing entrepreneur, nurse, and dad.
            Every thing you've said and done has meant so much to me. I inspire
            to be like you one day.
            <br />
            <br />
            For your Father's Day gift, I built you this website to help you
            better track everything that you're doing. Maybe this will help you
            get less frustrated when you're on the phone.
            <br />
            <br />
            Just go to this page to yun your business. It should take you to the
            right documents, websites, and excel sheets.
            <br />
            <br />
            Your Son,
            <br />
            Dwight
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>

<div class="container-fluid bg-muted">
  <div class="container border-0 p-5">
    <h1 class="text-warning font-weight-bold">Businesses</h1>
    <div class="py-1 bg-warning"></div>
    <div class="py-3"></div>
    <div class="card-deck">
      <div class="card border-0 col-lg-4 col-12 p-2">
        <img src="/img/masthead/chicken.JPG" alt="" class="card-img" />
        <div class="card-body">
          <h2 class="card-title">Chicken Business</h2>
          <h6 class="card-text">
            Click here to check the status of your chicken farm.
          </h6>
          <a href="/chicken/" class="text-decoration-none">
            <button class="btn btn-block btn-dark px-5 py-1">
              View CF
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>

<div class="container text-center text-dark"></div>

{{ end }}
